@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: 'Roboto', sans-serif;
  --green-color: #4B9200;
  --orange-color: #F9804B;
  --yellow-color: #FFEE2E;
  --red-color: #D31414;
  --black-blue-color: #333B41;
  --gray-color: #767474;
  --gray-smoky: #ABABAB;
  --light-gray: #F1F3F2;

  --orange-grad-bg-color: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  --orange-bg-color: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  --frosted-glass-gray-bg-color: linear-gradient(0deg, rgba(253, 253, 255, 0.52), rgba(253, 253, 255, 0.52)),
  linear-gradient(0deg, #C4C4C4, #C4C4C4);
}

html {
  font-family: var(--body-font);
  font-size: 10px; /* 1rem = 10px */
  color: var(--black-blue-color);
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden !important;
}

img {
  width: 100%;
  max-width: 100%; /* this will provide the image to get more bigger than the section */
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem; /* 1.6rem = 16px */
}

.container {
  width: 100%; /* when the width is smaller than 122.5rem it will be 100% */
  max-width: 116rem; /* 116rem == 1160px */
  margin: 0 auto;
  /* padding: 0 2.4rem; no yet */
}

/* === header start === */

header {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 2;
}

header .header-wrapper {
  display: flex;
  height: 8rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

header .header-wrapper a {
  color: white;
  line-height: 140%;
  transition: background 0.3s ease ;
}

header .header-wrapper a.active {
  color: var(--orange-color);
}

header .header-wrapper a:hover:not(.logo-link) {
  color: var(--orange-color);
}

header .header-wrapper .logo {
  margin-right: 6.3rem;
  width: 8.2rem;
  height: 5.2rem;
  border: 1px solid white;
  padding: 0.35rem 0.475rem;
  border-radius: 0.2rem;
  position: relative;
}

header .header-wrapper .logo::after {
  content: '';
  width: 15.03px;
  height: 30.98px;
  background: url('../../assests/images/bamboo.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 13.23px;
  top: 24.64px;
}

header .header-wrapper .logo h1 {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 23px;
  text-align: center;
}

header .header-wrapper .nav-bar {
  width: 100%;
}

header .header-wrapper .nav-bar ul {
  list-style-type: none;
  display: flex;
  gap: 5.8rem;
  color: white;
}

header .header-wrapper .menu-button {
  display: none;
}

header .header-wrapper .call-to-action {
  margin-left: auto;
}

/* === header done === */

/* === hero start === */

section.hero {
  margin-top: -8.1rem;
  margin-inline: auto;
  padding: 0;
  background-image: url('../../assests/images/Giant-Panda.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -0;
}

.hero .hero-wrapper {
  min-height: 780px;
  position: relative;
}

.hero .hero-wrapper .circle {
  width: 465px;
  height: 465px;
  position: absolute;
  top: 9.2rem;
  right: 10.8rem;
  border-radius: 50%;
  background: var(--orange-bg-color);
}

.hero-wrapper h1 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  max-width: 8ch;
  font-size: 10.65rem;
  font-weight: 700;
  line-height: 80px;
  position: absolute;
  right: 5px;
  top: 165px;
  margin-bottom: 6rem;
}

.hero-wrapper h1 span {
  color: var(--yellow-color);
}

.hero-wrapper button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
  font-weight: 500;
  background: var(--orange-color);
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-wrapper button:hover {
  background: #E47209;
}

/* hero section done */

/* backstage section start */

.backstage-of-the-wilderness {
  max-width: 100%;
  overflow: hidden;
  padding: 10rem 0 10rem;
  display: flex;
  justify-content: center;
}

.backstage-of-the-wilderness .hero-wrapper {
  /* background-color: red; */
  position: relative;
}

.backstage-of-the-wilderness .hero-wrapper .plam {
  position: absolute;
  background-color: #4B9200;
  width: 293px;
  height: 605px;
  right: -310px;
  top: -89px;
  background: url('../../assests/images/flower_foto1.png');
  background-repeat: no-repeat;
}

.backstage-of-the-wilderness .hero-wrapper {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 8.7rem;
}

.backstage-of-the-wilderness .hero-wrapper__img {
  min-width: 609px;
  width: 100%;
}

.hero-wrapper__info-top {
  margin-bottom: 5.45rem;
}

.hero-wrapper__info h2 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 57.6px;
  margin-bottom: 2rem;
  color: var(--black-blue-color);
}

.hero-wrapper__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.hero-wrapper__info h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 3.4rem;
}

.hero-wrapper__info-bottom p {
  line-height: 22px;
}

/* === ends of backstage section === */

/* === start of pets section */

.pets {
  width: 100%;
  max-width: 1600px;
  /* overflow: hidden; */
  margin: 3.7rem auto 2.3rem;
  padding: 4rem 0 7.7rem;
  position: relative;
}

.pets::after {
  content: '';
  width: 880px;
  height: 460px;
  background: url('../../assests/images/palm_foto.png');
  position: absolute;
  bottom: -23px;
  left: -596px;
  z-index: -1;
}

.pets::before {
  content: '';
  width: 368px;
  height: 275px;
  background: url('../../assests/images/strelitzia.png');
  position: absolute;
  bottom: -23px;
  right: -10px;
}

.pets .pets-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  column-gap: 3rem;
  row-gap: 2rem;
  position: relative;
  margin-bottom: 8rem;
}

.pets .arrow {
  position: absolute;
  background-color: var(--orange-color);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: none;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.pets .arrow:hover {
  background-color: #E47209;
}

.pets .arrow:active {
  background-color: var(--green-color);
}

.pets .arrow.right-arrow {
  transform: rotate(180deg) translate(-50%, -50%);
  top: 42.6%;
  right: -4.3%;
}

.pets .arrow.left-arrow {
  transform: translate(-50%, -50%);
  top: 49.7%;
  left: -4.35%;
}

.pets .pets-cart {
  width: 36.6rem;
  height: 426px;
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pets .pets-cart__image {
  border-radius: 5px 5px 0 0;
  width: 366px;
  height: 366px;
  transition: 0.3s ease;
}

.pets .pets-cart__info {
  margin-top: -4px;
  padding: 0 12px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  position: relative;
  z-index: 10;
  background-color: white;
}

.pets h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.pets p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.cart-icon-banana {
  width: 33px;
}

.cart-icon-meet {
  width: 48px;
}

.pets .pets-cart .hidden-part {
  position: absolute;
  width: 36.6rem;
  height: 426px;
  padding: 6rem 1.5rem 2rem;
  background: linear-gradient(180deg, rgba(252,176,69,0) 0%, rgba(249, 127, 75, 0.829) 35%, rgba(255,162,30,1) 100%);
  top: 100%;
  border-radius: 5px;
  color: white;
  transition: 0.3s ease;
}

.pets .pets-cart:hover .hidden-part {
  top: 10%;
}

.pets .pets-cart:hover .pets-cart__image {
  transform: scale(1.2);
}

.pets .hidden-part__info {
  margin-top: 1.5rem;
  line-height: 24px;
}

.pets .pets-cart__button {
  width: 298px;
  height: 54px;
  font-weight: 500;
  background: var(--orange-color);
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
  margin-inline: auto;
}

.pets .pets-cart__button:hover {
  background: #E47209;
}

.pets .pets-cart__button:active {
  background: var(--green-color);
}

/* === pets ends === */

/* === pick feed start === */

.pick-feed {
  padding: 69px 0 100px;
  background: var(--orange-bg-color);
  min-height: 1004px;
}

.pick-feed .info-square {
  padding: 4.1rem 0rem 5.9rem;
  margin-inline: auto;
  min-height: 835px;
  width: 1160px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick-feed .info-square .left-push {
  margin-left: 9.9rem;
}

.pick-feed .info-square__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: var(--orange-color);
  margin-bottom: 3rem;
}

.pick-feed .info-square h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 4rem;
}

.pick-feed .info-square p strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--black-blue-color);
}

.pick-feed .info-square p {
  margin-bottom: 1rem;
}

.pick-feed .info-square .info-square__small-paragraph {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 6rem;
}

.pick-feed .info-square .info-square__small-paragraph .fake-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid var(--orange-color);
}

.pick-feed .info-square .info-square__h3-title {
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  color: var(--black-blue-color);
  margin-bottom: 4rem;
}

.pick-feed .images-wrapper {
  margin-inline: auto;
  width: 764px;
  display: flex;
  justify-content: space-between;
  gap: 31px;
  margin-bottom: 5.3rem;
}

.pick-feed .images-wrapper .element {
  width: 168px;
}

.pick-feed .images-wrapper .element p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px
}

.pick-feed .images-wrapper .image-square {
  width: 168px;
  height: 168px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.pick-feed .images-wrapper .image-square .first {
  width: 108px;
  height: 60px;
}

.pick-feed .images-wrapper .image-square .second {
  width: 86px;
  height: 95px;
}

.pick-feed .images-wrapper .image-square .third {
  width: 124px;
}

.pick-feed .images-wrapper .arrow-img {
  width: 69px;
  height: 35.08px;
  margin-top: 6rem;
}

.pick-feed button {
  display: block;
  width: 298px;
  height: 54px;
  margin-inline: auto;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: var(--orange-color);
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.pick-feed button:hover {
  background-color: #E47209;
}

.pick-feed button:active {
  background-color: var(--green-color);
}

/* === pick feed section ends === */

/* === testimonial section start === */

.testimonials {
  padding-top: 14rem;
  padding-bottom: 18rem;
}

.testimonials .container {
  position: relative;
}

.testimonials .container::after {
  content: "";
  width: 300.92px;
  height: 295.45px;
  position: absolute;
  bottom: -202px;
  right: -277px;
  background: url('../../assests/images/leav_foto.png');
}

.testimonials .section-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: var(--black-blue-color);
  margin-bottom: 4.7rem;
}

.testimonials .testimonial-carts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 1.9rem;
}

.testimonials .testimonial-cart {
  width: 268px;
  height: 391px;
  padding: 14px 15px 19px 16px;
  border-radius: 20px;
  position: relative;
  background-color: var(--light-gray);
}

.testimonials .testimonial-cart::before {
  content: '';
  position: absolute;
  border-radius: 20px;
  top: -2px;
  bottom: -2px;
  right: -2px;
  left: -2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  z-index: -1;
}

.testimonials .testimonial-cart__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
}

.testimonials .testimonial-cart__header h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0.1rem;
  color: black;
}

.testimonials .testimonial-cart__header .location {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
}

.testimonials .testimonial-cart__header img {
  margin-right: 1rem;
  width: 37px;
  height: 37px;
}

.testimonials .testimonial-text {
  height: 309px;
  overflow: hidden;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: var(--gray-color);
}

.testimonials input {
  display: block;
  width: 390px;
  margin-inline: auto;
  margin-bottom: 2.83rem;
}

.testimonials button {
  display: block;
}

/* range css */

input[type=range] {
  height: 12px;
  -webkit-appearance: none;
  width: 600px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px ;
  background: #F5F7F6;
  border-radius: 5px;
  border: 0px solid #F5F7F6;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 117px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F5F7F6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px ;
  background: #F5F7F6;
  border-radius: 5px;
  border: 0px solid #F5F7F6;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 75px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F5F7F6;
  border: 0px solid #F5F7F6;
  border-radius: 10px;
  box-shadow: 0px 0px 0px ;
}
input[type=range]::-ms-fill-upper {
  background: #F5F7F6;
  border: 0px solid #F5F7F6;
  border-radius: 10px;
  box-shadow: 0px 0px 0px ;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F5F7F6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F5F7F6;
}

/* === range css ends ===  */

.testimonials .section-button {
  width: 298px;
  height: 54px;
  background-color: var(--orange-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.testimonials .section-button:hover {
  background-color: #E47209;
}

.testimonials .section-button:active {
  background-color: var(--green-color);
}

/* === ends of testimonial section ===  */

/* === footer start === */

.footer {
  background-color: #111115;
  padding-top: 4rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 10;
}

.footer .top-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}

.footer .top-footer .logo {
  width: 83px;
  height: 53px;
  margin-right: auto;
}

.footer .small-screen-show-in-small-screen {
  display: none;
}

.footer .top-footer .email {
  width: 366px;
}

.footer .top-footer .email h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 1.4rem;
  color: white;
}
.footer .top-footer .email input {
  width: 225px;
  height: 42px;
  padding-left: 1rem;
  border: 1px solid var(--orange-color);
  border-radius: 2px;
  margin-right: 0.7rem;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
}

.footer .top-footer .email ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BDBDBD;
}

.footer .top-footer .email button {
  width: 129px;
  height: 42px;
  border: 1px solid green;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--light-gray);
  color: black;
  line-height: 22px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer .top-footer .email button:active {
  color: var(--green-color);
}

.footer .middle-footer button {
  width: 298px;
  height: 54px;
  background-color: var(--orange-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 4.4rem;
}

.footer .middle-footer button:hover {
  background-color: #E47209;
}

.footer .middle-footer button:active {
  background-color: var(--green-color);
}

.footer .top-footer .email button.mistake {
  border: 1px solid#D31414;
  color: #D31414;
  cursor: not-allowed !important;
}

.footer .bottom-footer {
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer .bottom-footer .left {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  color: #FFFFFF;
}

.footer .bottom-footer .left a {
  color: inherit;
  height: 26px;
  display: flex;
  align-items: center;
  transition: .3s ease;
}

.footer .bottom-footer .left a:hover {
  color: var(--orange-color);
}

.footer .bottom-footer .left a:not(:last-child) {
  margin-bottom: 1rem;
}

.footer .bottom-footer .left .img {
  width: 26px;
  height: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C480;
  margin-right: 1.2rem;
}

.footer .bottom-footer .left .img i {
  width: 20px;
  height: 20px;
}

.footer .bottom-footer nav {
  margin-left: 11.99rem;
}

.footer .bottom-footer nav ul {
  list-style-type: none;
  display: flex;
  gap: 5.8rem;
  color: white;
}

.footer .bottom-footer nav ul a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.footer .bottom-footer nav ul a:hover {
  color: var(--orange-color);
}

.footer .bottom-footer nav ul a.active {
  color: var(--orange-color);
}

.footer .right {
  font-weight: 100;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff57;
}

.footer .right p:nth-child(1) {
  margin-bottom: 1rem
}

/* === footer ends === */


/* media query  */

@media screen and (max-width: 1000px) {
  .container {
    /* box-sizing: content-box; */
    max-width: 94rem;
    margin-inline: auto;
  }

  header .header-wrapper .nav-bar ul {
    gap: 4.8rem;
  }

  /* hero section  */

  section.hero {
    margin-top: -8.1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1198px;
  }

  .hero .hero-wrapper {
    min-height: 584px;
  }

  .hero .hero-wrapper h1 {
    font-size: 85px;
    line-height: 64px;
    right: 61px;
    top: 123px;
  }

  .hero .hero-wrapper .circle {
    height: 367px;
    width: 367px;
    top: 7.20rem;
    right: 14.65rem;
  }

  .hero-wrapper button {
    top: 484px;
    left: 537px;
  }

  /* backstage of the wilderness section */

  .backstage-of-the-wilderness .hero-wrapper {
    gap: 3.1rem;
    padding-top: 0;
  }

  .hero-wrapper__info h2 {
    font-size: 4.8rem;
    line-height: 58px;
  }

  .backstage-of-the-wilderness .hero-wrapper__img {
    min-width: 455px;
  }
  
  .backstage-of-the-wilderness .hero-wrapper__img img {
    height: 408px;
    object-fit: cover;
    margin-top: 0.8rem;
  }

  /* pet section */

  .pets {
    padding-top: 0.4rem;
    margin-bottom: 3.6rem;
  }

  .pets .pets-wrapper {
    row-gap: 9.2rem;
  }

  .pets .pets-cart {
    width: 29.4rem;
    height: 354px;
  }

  .pets .pets-cart__image {
    width: 294px;
    height: 294px;
  }

  .pets .pets-cart .hidden-part {
    width: 294px;
    height: 294px;
  }
  
  .pets p {
    font-size: 1.3rem;
  }

  .pets .arrow.right-arrow {
    right: 35rem;
  }

  .pets .arrow.left-arrow {
    top: 50.2%;
    left: 35.6rem;
  }

  .pets::before {
    width: 241px;
    height: 180px;
    background-size: 244px;
    background-repeat: no-repeat;
    bottom: -65px;
  }

  .pets::after {
    position: absolute;
    background-size: 383px;
    background-repeat: no-repeat;
    bottom: -325px;
    left: -200px;
    z-index: -1;
  }

  /* feed and pick section  */

  .pick-feed {
    margin-top: 6.6rem;
    padding: 30px 0 50px;
    min-height: 876px;
  }

  .pick-feed .info-square {
    padding: 3rem 0rem 5rem;
    min-height: 796px;
    width: 940px;
  }

  .pick-feed .info-square__title {
    margin-bottom: 2rem;
  }

  .pick-feed .info-square .left-push {
    margin-left: 4.9rem;
  }

  .pick-feed .info-square h3 {
    margin-bottom: 2rem;
    line-height: 28.8px;
  }

  .pick-feed .info-square p {
    max-width: 813px;
  }

  .pick-feed .info-square .info-square__small-paragraph {
    margin-bottom: 4rem;
  }

  .pick-feed .info-square .info-square__small-paragraph br {
    display: none;
  }

  .pick-feed .images-wrapper {
    margin-bottom: 6.3rem;
  }

  /* .testimonials section */

  .testimonials {
    padding-top: 10rem;
    padding-bottom: 13.7rem;
  }

  .testimonials .section-title {
    margin-bottom: 3rem;
  }

  .testimonials .testimonial-carts {
    margin-bottom: 1.8rem;
  }

  .testimonials .testimonial-cart {
    width: 293px;
  }

  .testimonials .testimonial-cart:last-child {
    display: none;
  }

  input[type=range] {
    width: 390px;
    margin-bottom: 5.2rem;
  }

  .testimonials .container::after {
    background-size: 325px;
    background-repeat: no-repeat;
    bottom: -195px;
    right: -135px;
  }

  .footer .top-footer .email {
    margin-right: 3rem;
  }

  .footer .bottom-footer nav {
    margin-left: 9rem;
}

  .footer .bottom-footer nav ul {
    gap: 4.8rem;
  }
}

@media screen and (max-width: 640px) {

  header {
    height: 3.4rem;
  }

  .container {
    max-width: 600px;
  }

  header .header-wrapper {
    height: 3.4rem;
  }

  header .header-wrapper .logo {
    width: 46.86px;
    height: 29.03px;
    padding: 0;
    border: none;
  }

  header .header-wrapper .logo::after {
    left: 4.23px;
    top: 12.64px;
  }

  header .header-wrapper .logo h1 {
    font-size: 12.2899px;
    line-height: 15px;
  }

  header .header-wrapper .menu-button {
    display: block;
    margin-left: auto;
  }

  header .header-wrapper .nav-bar {
    display: none;
  }

  section.hero {
    margin-top: -3.4rem;
    background-size: 765.16px;
  }

  .hero .hero-wrapper {
    min-height: 373px;
  }

  .hero .hero-wrapper h1 {
    font-size: 54.2894px;
    line-height: 41px;
    right: 0px;
    top: 81px;
  }

  .hero .hero-wrapper .circle {
    height: 237.6px;
    width: 237.6px;
    top: 4.5rem;
    right: 5rem;
  }

  .hero-wrapper button {
    top: 279px;
    left: 1px;
  }


  /* .backstage-of-the-wilderness */

  .backstage-of-the-wilderness {
    padding: 6rem 0 4rem;
  }

  .backstage-of-the-wilderness .hero-wrapper .plam {
    display: initial;
    right: -182px;
    background-size: 236px;
    top: -65px;
  }

  .backstage-of-the-wilderness .hero-wrapper__img {
    display: none;
  }

  .hero-wrapper__info p {
    max-width: 454px;
    line-height: 20.8px;
  }

  .hero-wrapper__info-top {
    margin-bottom: 3rem;
  }

  .hero-wrapper__info h3 {
    margin-bottom: 2rem;
  }

  .hero-wrapper__info-bottom p {
    max-width: 495px;
    line-height: 22px;
  }

  /* pets section  */

  .pets {
    padding-bottom: 3rem;
    margin-bottom: 0;
  }

  .pets .pets-wrapper {
    column-gap: 2.9rem;
  }

  .pets .pets-cart {
    width: 28.5rem;
    height: 33.2rem;
  }

  .pets .pets-cart__image {
    width: 285.24px;
    height: 285.24px;
  }

  .pets h3 {
    font-size: 12.4695px;
    line-height: 17px;
  }

  .pets p {
    font-size: 11.6901px;
    line-height: 14px;
  }

  .pets .pets-cart__info {
    height: 43px;
    padding: 0 6px 0 12px;
  }

  .cart-icon-meet {
    width: 35px;
  }

  .pets .arrow.left-arrow {
    top: 49.2%;
    left: 34.6rem;
  }

  .pets .arrow.right-arrow {
    right: 34.7rem;
    top: 41.2%;
  }

  .pets .pets-wrapper {
    margin-bottom: 6rem;
  }

  .pets::before {
    background-size: 167px;
    bottom: -123px;
    right: -79px;
  }

  .pets::after {
    background-size: 379px;
    bottom: -330px;
    left: -255px;
  }

  /* pick and feed section  */

  .pick-feed {
    margin-top: 6.8rem;
    min-height: 781px;
    padding: 20px 0 20px;
  }

  .pick-feed .container {
    max-width: 640px;
  }

  .pick-feed .info-square {
    padding-top: 1rem;
    padding-inline: 0.9rem;
    padding-bottom: 0;
    width: 640px;
    min-height: 741px;
  }

  .pick-feed .info-square__title {
    font-size: 4.2rem;
    line-height: 50px;
    margin-right: 1.7rem;
    margin-top: 0.1rem;
  }

  .pick-feed .info-square .left-push {
    margin-left: 0rem;
    width: 600px;
  }

  .pick-feed .info-square h3 {
    width: 600px;
    margin-bottom: 2rem;
    font-size: 22px;
    line-height: 26px;
  }

  .pick-feed .info-square p {
    padding-top: 0.1rem;
  }

  .pick-feed .info-square .info-square__small-paragraph {
    margin-bottom: 2.8rem;
  }

  .pick-feed .info-square .info-square__h3-title {
    margin-bottom: 2.1rem;
  }

  .pick-feed .images-wrapper .arrow-img {
    display: none;
  }

  .pick-feed .images-wrapper {
    margin-inline: 0;
    width: 588px;
    gap: 4.2rem;
    margin-bottom: 3.1rem;
  }

  .pick-feed .images-wrapper .element.green-arrow {
    position: relative;
  }

  .pick-feed .images-wrapper .element.green-arrow::after {
    content: '';
    position: absolute;
    background: url('../../assests/icons/arrow-green.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 40px;
    top: -6%;
    right: -39%;
    z-index: 10;
  }

  .pick-feed button {
    padding-right: 3rem;
  }

  /* .testimonials */

  .testimonials {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  .testimonials .testimonial-carts {
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 1.5rem;
  }

  .testimonials .testimonial-cart {
    width: 100%;
    height: 109px;
  }

  .testimonials .testimonial-text {
    max-width: 172ch;
    overflow: hidden;
    height: 34px;
  }

  .testimonials input {
    display: none;
  }

  .testimonials .section-button {
    margin-inline: auto;
    width: 240px;
    height: 54px
  }

  .testimonials .container::after {
    background-size: 214px;
    bottom: -241px;
    right: -203px;
  }

  /* footer section  */

  .footer {
    padding: 1.3rem 0 1.2rem;
  }

  .footer .top-footer .email {
    display: none;
  }

  .footer .top-footer {
    margin-bottom: 3.2rem;
  }

  .footer .bottom-footer .left {
    position: absolute;
    right: -0.1rem;
    top: 1.4rem;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .footer .bottom-footer .left p {
    display: none;
  }

  .footer .bottom-footer nav ul {
    gap: 3.7rem;
  }

  .footer .bottom-footer {
    height: 76px;
  }

  .footer .bottom-footer nav {
    margin-left: 0rem;
  }
}


@media screen and (max-width: 320px) {
  .container {
    max-width: 300px;
  }

  header .header-wrapper .logo::after {
    left: 3.23px;
    top: 13.64px;
    width: 8.03px;
    height: 26.98px;
  }

  .hero .hero-wrapper .circle {
    width: 119.09px;
    height: 119.09px;
    top: 21px;
    right: 29px;
  }

  .hero .hero-wrapper h1 {
    font-size: 28px;
    line-height: 75%;
    /* or 21px */
    top: 40px;
    right: 1px;
  }

  .hero-wrapper button {
    display: none;
  }

  section.hero {
    margin-top: 0px;
    background-size: 383.52px;
  }

  .hero .hero-wrapper {
    min-height: 187px;
  }

  .hero-wrapper button {
    display: block;
    top: 206px;
    left: 3px;
  }

  .backstage-of-the-wilderness {
    padding-top: 10.3rem;
  }

  .hero-wrapper__info-top {
    margin-bottom: 2rem;
  }

  .hero-wrapper__info h2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 1.1rem;
  }

  .hero-wrapper__info h3 {
    margin-bottom: 1rem;
  }

  .backstage-of-the-wilderness .hero-wrapper .plam {
    right: -271px;
    background-size: 98px;
    top: -58px;
  }

  /* pets  */

  .pets {
    padding-top: 0rem;
    margin-top: 0px;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }

  .pets .pets-wrapper {
    grid-template-columns: auto;
    justify-content: center;
    column-gap: 0;
    row-gap: 2rem;
    margin-bottom: 2rem;
  }

  .pets .small-screen-hide {
    display: none;
  }

  .pets::after {
    background-size: 161px;
    bottom: -445px;
    left: -111px;
  }

  .pets::before {
    background-size: 99px;
    bottom: -171px;
    right: -174px;
  }

  /* .pick-feed */

  .pick-feed {
    margin-top: 6rem;
    min-height: 1082px;
    padding: 20px 0rem 20px;
  }

  .pick-feed .info-square {
    padding-top: 2rem;
    width: 300px;
    min-height: 1042px;
    padding-inline: 0;
  }

  .pick-feed .info-square__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 1rem;
  }

  .pick-feed .info-square h3 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 300px;
  }

  .pick-feed .small-screen-hide {
    display: none;
  }

  .pick-feed .info-square .info-square__h3-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 2rem;
  }

  .pick-feed .images-wrapper {
    width: 300px;
    min-height: 724px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.7rem;
  }

  .pick-feed .images-wrapper .element.green-arrow {
    height: 222px;
  }

  .pick-feed .images-wrapper .element.middle {
    height: 231px;
  }

  .pick-feed .images-wrapper .image-square {
    margin-bottom: 1rem;
  }

  .pick-feed .images-wrapper .element.green-arrow::after {
    transform: rotate(90deg);
    top: 86%;
    right: -36%;
  }

  .pick-feed button {
    padding-right: 0;
  }

  /* .testimonials */

  .testimonials {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  .testimonials .section-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 2rem;
  }

  .testimonials .testimonial-cart {
    padding: 1rem 3rem 1.2rem 1.3rem;
  }

  .testimonials .testimonial-carts {
    margin-bottom: 3rem;
  }

  .testimonials .container::after {
    background-size: 114px;
    bottom: -288px;
    right: -244px;
  }

  /* footer  */

  .footer {
    height: 334px;
    padding-top: 1.8rem;
  }

  .footer .small-screen-hide {
    display: none;
  }

  .footer .top-footer .logo {
    width: 128px;
    height: 23px;
    margin-inline: auto;
    margin-bottom: 5.6rem;
  }

  .footer .bottom-footer .left {
    flex-direction: row;
    height: 28px;
    width: 194px;
    right: 5.5rem;
    top: 7.2rem;
    gap: 3rem;
  }

  .footer .bottom-footer {
    flex-wrap: wrap;
  }

  .footer .bottom-footer .left .img {
    margin-right: 0;
  }

  .footer .middle-footer button {
    margin-bottom: 3rem;
  }

  .footer .bottom-footer .middle {
    order: 1;
  }

  .footer .bottom-footer .right {
    margin-left: auto;
  }

  .footer .bottom-footer .right p {
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
  }

  .footer .right p:nth-child(1) {
    margin-bottom: 1.4rem;
  }

  .footer .bottom-footer .middle {
    margin-top: 3rem;
    width: 278px;
    display: block;
    margin-inline: auto;
  }

  .footer .bottom-footer nav ul {
    gap: 3rem;
  }
}